.bloc_page{
    display: flex;
    flex-direction: column;
}
.bloc1:nth-child(2){
    display: flex;
    background-color: black;
    padding-top: 10px;
}
h1{
    text-align: center;
}
ul li{
    list-style: none;
    margin-bottom: 20px;
    text-align: start;
    width: 200px;
}
ul li a {
    text-decoration: none;
    color: white;
}
.bloc1:nth-child(3){
    text-align: center;
    background-color: slategray;
}
ul li a:hover{
    color: aqua;
}
.bloc1_1:nth-child(2){
    display: flex;
    background-color: white;
    padding: 10px;
}